.project-card{
  height: 320px;
  width: 100%;
  background: rgb(207,232,237);
  padding: 15px 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0px 20px 20px 0px #00000017;
  transition: 250ms all ease-in-out;
}
.project-card:hover{
  transform: scale(1.05);
}
.project-card p{
  font-size: .85rem;
}
.project-img{
  width: 100%;
  height: 43%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag{
  display: inline;
  padding: 0;
  margin: 4px;
  color: grey;
}
.tag p{
  font-size: .65rem;
}
.tagImg{
  margin-right: 10px;
}
.project-link:hover{
  text-decoration: none;
}